@media (max-width: 576px) {
   
    .grid-template {
        width: 100vw;
        height: 100vh;
      
        background-color: #f0f0f0;
        background-color: rgb(230, 235, 247);
        background-color: rgb(185, 51, 51); /*SETS BODY BACKGROUND COLOR*/
        align-self: center;
        justify-self: center;
      
        display: grid;
        grid-template-columns: 1fr;
      
        grid-template-rows: 60px 40px 1fr 30px;
        margin: 0;
        justify-content: center;
      
        align-items: center;
        grid-template-areas:
          "nav"
          "aside"
         " main"
          "footer";
      }
      .drawer{
        display: none
      }
      .asider{
        display: none
      }
      .nav-area{
        
        height: 60px;
        
      }
    .client-data-container{
        width: 100vw;
        height: 350px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .client-data-layout{
       /*  background-color: blueviolet; */
        width: 550px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "recibo"
        "cliente"
        "telefono"
        "mail";
        gap: 12px
    }
  }
  
  /* Styles for devices between 576px and 768px */
/*   @media (min-width: 576px) and (max-width: 768px) {
   
  } */
  
  /* Styles for devices larger than 768px */
  @media (min-width: 768px) {
    .grid-template {
        width: 100vw;
        height: 100vh;
      
       /*  background-color: rgb(10, 209, 36);  */
        align-self: center;
        justify-self: center;
      
        display: grid;
        grid-template-columns: var(--drawer-width) 1fr var(--drawer-width);
      
        grid-template-rows: var(--nav-height) 1fr 60px;
        margin: 0;
        justify-content: center;
       
        align-items: center;
        grid-template-areas:
          "nav nav nav"
          "aside main asider"
          "footer footer footer";
      }
    .client-data-container{
        width: 600px;
        height: 350px;
        border: 2px solid #e9e9e9;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.05);
    }
    .client-data-layout{
        /* background-color: blueviolet; */
        width: 550px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "recibo recibo"
        "cliente cliente"
        "telefono mail";
        gap: 15px
    }
    }
   
   
  .recibo{
      grid-area: recibo;
      
      padding: 0;
     }
  .cliente{
      grid-area: cliente;
      width: 100%;
  }
  .telefono{
      grid-area: telefono;
  }
  .email{
      grid-area: mail;
  }
  .product-type{
    width:40%;

  }