@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  /*  background-color: #eaeaf3; */
  background: rgb(247, 247, 247);
  /* background: linear-gradient(
    172deg,
    rgba(236, 243, 254, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

.input-error {
  border-style: solid;
  border-color: "red";
  border-width: 2;
}
.test {
  background-color: red;
}
/* .MuiInputLabel-root {
  font-size: 18px !important;
  padding-bottom: 20px !important;
  color: blue;
}
.MuiInputLabel {
  font-size: 18px !important;
  padding-bottom: 20px !important;
  color: rgb(255, 0, 85);
}
.MuiInputLabel-shrink {
  color: blue !important;
}
.MuiFormLabel-root {
  font-size: 18px !important;
  color: blue !important;
} */
/* 



.MuiInputLabel-notched {
  color: green !important;
} */
/* .MuiFilledInput-input {
  font-size: 18px !important;
  color: rgb(55, 0, 255) !important;
} */
.title {
  font-size: 2px;
}

/* .MuiTypography-root {
  font-size: 20px !important;
  font-weight: 600 !important;
}
 */

/* .Mui-error {
  border: 2px solid red;
} */
.invoice-input .MuiFilledInput-input {
  font-size: 14px !important;
  color: rgb(55, 0, 255) !important;
  background-color: white;
  text-transform: capitalize;
}
.invoice-input .MuiInputLabel-root {
  color: rgb(64, 71, 0);

  margin: 0;
}
.invoice-input .MuiFormLabel {
  color: rgb(22, 194, 151);

  padding: 0;
}
.invoice-input .MuiInputLabel-shrink {
  color: rgb(255, 0, 234) !important;
  font-size: 20 !important;
  padding: 0;
}
