@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-family: Roboto;
  line-height: 1.5;
  font-weight: 400;
  --primary-main: #333dff;
  --primary-dark: #2e29ff;
  --primary-light: #f1f6ff;
  --primary-lighter: #fafcff;
  --background-main: #f1f1f2;
  --background-dark: #e2e2e2;
  --background-light: #f5f5f5;
  --border-bottom: 2px solid var(--primary-main);

  --secondary-main: #e50037;
  --text-main: #02172a;
  --text-light: #868686;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  /*  background-color: #eaeaf3; */
  background: rgb(247, 247, 247);
  /* background: linear-gradient(
    172deg,
    rgba(236, 243, 254, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

.input-error {
  border-style: solid;
  border-color: "red";
  border-width: 2;
}
.test {
  background-color: red;
}
/* .MuiInputLabel-root {
  font-size: 18px !important;
  padding-bottom: 20px !important;
  color: blue;
}
.MuiInputLabel {
  font-size: 18px !important;
  padding-bottom: 20px !important;
  color: rgb(255, 0, 85);
}
.MuiInputLabel-shrink {
  color: blue !important;
}
.MuiFormLabel-root {
  font-size: 18px !important;
  color: blue !important;
} */
/* 



.MuiInputLabel-notched {
  color: green !important;
} */
/* .MuiFilledInput-input {
  font-size: 18px !important;
  color: rgb(55, 0, 255) !important;
} */
.title {
  font-size: 2px;
}

/* .MuiTypography-root {
  font-size: 20px !important;
  font-weight: 600 !important;
}
 */

/* .Mui-error {
  border: 2px solid red;
} */
.invoice-input .MuiFilledInput-input {
  font-size: 14px !important;
  color: rgb(55, 0, 255) !important;
  background-color: white;
  text-transform: capitalize;
}
.invoice-input .MuiInputLabel-root {
  color: rgb(64, 71, 0);

  margin: 0;
}
.invoice-input .MuiFormLabel {
  color: rgb(22, 194, 151);

  padding: 0;
}
.invoice-input .MuiInputLabel-shrink {
  color: rgb(255, 0, 234) !important;
  font-size: 20 !important;
  padding: 0;
}

.invoice-input .MuiInputBase-input {
  font-size: 14px !important;
  color: rgb(55, 0, 255) !important;
  background-color: rgb(255, 255, 255);
  text-transform: capitalize;
  padding: 0.5;
}
.invoice-label .MuiTypography-h6 .h6 {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  width: 98%;
  margin-bottom: -4px;
  padding: 0px;
  font-size: 18px;
}
.invoice-input {
  font-size: 14px !important;
  color: rgb(55, 0, 255) !important;
  background-color: rgb(255, 255, 255);
  text-transform: capitalize;

  font-weight: 600 !important;
}
.invoice-label {
  font-size: 10px !important;
  color: rgb(98, 104, 124) !important;
  /* margin-left: 2px; */
  text-transform: capitalize;
  width: 100%;
  font-weight: 400 !important;
}
.invoice-label-client {
  font-size: 10px !important;
  color: rgb(98, 104, 124) !important;
  padding-left: 0px;

  width: 100%;
  font-weight: 400 !important;
  text-align: left;
}

.invoice-data {
  font-size: 11px !important;
  color: rgb(0, 0, 0) !important;
  width: 100%;
  text-transform: capitalize;
  padding: 0;
  font-weight: 600 !important;
  margin-left: 2px;
}
.invoice-data-client {
  font-size: 11px !important;
  color: rgb(0, 0, 0) !important;
  width: 100%;
  text-transform: capitalize;
  padding: 0;
  font-weight: 600 !important;
  text-align: left;
}

.invoice-title {
  font-size: 12px !important;
  color: var(--text-light) !important;

  font-weight: 600 !important;
  display: flex;
  align-items: end;
}

.invoice-title-box {
  border-bottom: 2px solid var(--text-main);
}
.invoice-label-payment {
  font-size: 13px !important;
  color: #000000 !important;

  font-weight: 500 !important;
}
.invoice-data-date {
  font-size: 11px !important;
  color: rgb(0, 0, 0) !important;
  width: 100%;
  text-align: left;
  font-weight: 700 !important;
}

.invoice-label-cash {
  font-size: 11px !important;
  color: rgb(147, 147, 155) !important;
  padding-left: 3px;
  font-weight: 400 !important;
}

.box {
  /*background-color: #f0f4ff;*/
  border: 1px solid rgb(190, 190, 190);
  height: 100%;
  width: 100%;
  display: grid;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.box-bottom {
  background-color: var(--background-light);

  border-radius: 4px;
}

.cls-1 {
  fill: #145cc6;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke-width: 0px;
}

.cls-2 {
  fill: none;
}

.cls-3 {
  fill: #ff0031;
}

.cls-4 {
  fill: #009ffe;
}

.cls-5 {
  fill: #5a6e7f;
}

.box .pay {
  border-radius: 5px;
}
.invoice-item {
  display: "grid";

  height: 70px;
  max-height: 70px;
  width: 100%;
  max-width: 100%;
  /*background-color: #ff0031;*/
  /* border-bottom: 1px solid rgb(190, 190, 190); */
}
.secondary-color {
  color: rgb(112, 112, 112);
}

.border-bottom {
  border-bottom: 1.5px solid var(--background-dark);
}
.border-bottom-heavy {
  border-bottom: 1.5px solid rgb(190, 190, 190);
}
.full-border {
  border: 1px solid rgb(190, 190, 190);
}
.fill {
  background-color: #f9f9f9;
}
#recepcion {
  background-color: #ff0031;
}
#pdf {
  background-color: #ffffff;
}

#pdf-container {
  width: 530px;
  height: 790px;
  display: grid;
  grid-template-rows: 120px 26px 453px 141px 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.6;
}
#invoice-header {
  width: 100%;
  height: 100%;
  align-items: end;
  justify-self: center;
  display: grid;
  justify-content: right;
  grid-template-columns: 40% 1fr;
}
#div1 {
  width: 100%;
  height: 100%;
  background-color: red;
}
.logo {
  width: 140px;
  justify-self: center;
}
#root-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal-box {
  width: 450px;
  height: 105px;
  background-color: var(--primary-lighter);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--background-light);
  transition: scale 1s ease 1s;
}
#icon {
  transform: scale(1.5);
}
#modal-box:hover {
  transform: scale(1.02);
  background-color: var(--primary-light);
  cursor: pointer;
  /*border: 1.2px solid var(--primary-main);
  /* box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.12); */
}
#cart-counter:visited {
  color: var(--primary-main);
}
.nav-btn {
  transform: scale(1);
}
.nav-btn:hover {
  transform-origin: left;
  transform: translate(10px);
}
.invoice-content-data-r {
  text-align: right;
}
.invoice-content-data-l {
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
}
.invoice-content-data-c {
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
.capitalize {
  text-transform: capitalize;
}
.arrow-btn {
  display: grid;
  place-items: center;
  transform: scale(1);
  border-radius: 50%;
  color: var(--primary-main);
  transition: all 1s ease;
  padding: 5px;

  /* background-color: var(--primary-light); */
}
.arrow-btn:hover {
  transform-origin: center;

  transform: scale(1.1);
  /*   transform: translateX(10px); */
  background-color: var(--primary-light);
}
.arrow-btn:visited {
  color: var(--primary-main);
}
.delete-btn {
  color: var(--secondary-main);
  border-radius: 50%;
  transition: scale 1s ease;
  cursor: pointer;
}
.delete-btn:hover {
  transform: scale(1.2);
}
.list-item {
  border: 1.8px solid var(--background-dark);
  padding: 5px;
  border-radius: 10px;
}
.disabled-btn {
  color: rgb(182, 182, 182);

  pointer-events: none;
  cursor: not-allowed;
}
.disabled-btn:hover {
  color: rgb(175, 175, 175);
  cursor: not-allowed;
}

.payment-total {
  font-weight: 800;
  color: var(--text-main);
  font-size: 18;
}
@media print {
  @page {
    size: 140mm 216mm;
  }
}
.grid-rows-2-1fr {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
